body{
  color: black;
  padding: 50px 0 0 0;
  z-index: 0;
}
h1{
  text-align: center;
}
#mainIdea{
  color: white;
  background-image:url('http://cdn.wedding-spot.com/images/venues/5683/Republic-Smokehouse-and-Saloon-Wedding-Houston-TX-1.1439447328.jpg');
  background-attachment: fixed;
  background-size:100%;
}

.row-header{
  margin: 0 auto;
  padding: 0 auto;
}

.row-content{
  margin: 0 auto;
  padding: 50px 0 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer{
  background-color: #AfAfAf;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}
.navbar-inverse{
  background: #303F9F;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
  color: #fff;
  background: #1A237E;
}
.navbar-inverse .navbar-nav .open  .dropdown-menu >li >a,
.navbar-inverse .navbar-nav .open .dropdown-menu{
  background-color: #303F9F;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
  color: #000000;
}
